<li>
  <p class="body-1 white m-0">
    <%= course.name %> -
    <%= translate_date(course.start_date.strftime("%b/%Y")) %> |
    <%= course.end_date.nil? ? "o momento":translate_date(course.end_date.strftime("%b/%Y")) %>
  </p>
</li>
