<%=
  render "layouts/page-header",
  content: "Editing course"
%>

<%= render "layouts/card" do %>
  <%= render "form", course: @course, submit: submit = {text: "Update course"} %>

  <br>

  <div>
    <%= link_to "Back to courses", courses_path, class: "btn btn-secondary body-1" %>
  </div>
<% end %>
