/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-icons
 */

@import "bootstrap";
@import "niceadmin";
@import 'actiontext.css';

// Cores
$ebony-clay: #1E242C;
$outer-space: #2C343C;
$abbey: #494E54;
$bright-gray: #343C44;
$purple: #3E3A97;
$dark: #151B1F;
$white: #F8F8F8;

html {
  scroll-behavior: smooth !important;
}

.white {
  color: $white !important;
}

.purple {
  color: $purple !important;
}

// Geral
body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), $dark;
}

// Layouts
#header {
  height: 80px;
}

#sidebar {
  top: 80px;
}

.logo {
  width: fit-content;

  img {
    max-height: 48px;
  }
}

#header, #sidebar {
  background: $ebony-clay;
}

#main {
  margin-top: 80px;
}

.badge {
  background: #3E3A97;
  padding: 12px 18px;
}

.card {
  background: $ebony-clay;
}

.header-nav .dropdown-toggle:hover {
  cursor: pointer;
}

.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.profile.show {
  background: $ebony-clay;
  border: solid 1px $abbey;
}

.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.profile.show::before {
  background: $ebony-clay;
  border: solid 1px $abbey;
}

.header-nav .profile .dropdown-item:hover {
  background-color: $ebony-clay;
}

a {
  color: $white !important;
}

#sidebar .nav-link {
  background: $ebony-clay !important;
  border: 1px solid $abbey !important;
}

// Efeitos
.drop-shadow {
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.1);
}

// Icons
i {
  color: $white !important;
}

// Fontes
.h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 97px !important;
  line-height: 118px;
  letter-spacing: -1.5px;
}

.h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 61px;
  line-height: 74px;
  letter-spacing: -0.5px;
}

.h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.25px;
}

.h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.h6 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.subtitle-1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1px;
}

.body-1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.body-2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.25px;
}

.caption {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.overline {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1.5px;
}

.project-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 61px;
  margin-bottom: 40px;
  line-height: 74px;
  letter-spacing: -0.5px;
}

nav.visitor {
  background-color: $ebony-clay;
  height: 80px;

  .itens {
    width: 480px;
    align-items: center;
  }
}

footer {
  align-items: center;
  background: $ebony-clay;
  height: 60px;

  .links .body-1 {
    color: $purple !important;
    font-weight: 700 !important;
  }
}

.container {
  max-width: inherit;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

#inicio {
  max-width: 1440px;

  .row {
    margin-top: 80px;
  }
}

#sobre-mim .row div,
#formacao .row div {
  border: 1px solid $abbey;
  border-radius: 7.6px;
}

#projetos .row div {
  background: $ebony-clay;
  border-radius: 7.6px;
}

#accordion-projects {
  border: none;
  $accordion-icon-color: $white !important;


  .accordion-item {
    border: 1.56px solid $abbey;

    .accordion-button {
      background: $ebony-clay;
      border-radius: 7.6px;
      box-shadow: none;
      color: $white;

      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23494E54'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        fill: #3E3A97;
      }
    }

    .accordion-body {
      color: $white;
    }
  }
}

#github {
  .col-lg-6 {
    max-width: 600px;
  }

  .col-lg-8 {
    p:last-child {
      margin: 0;
    }
  }

  .picture {
    border-radius: 100%;
  }
}
