<div class="col-12">
  <div class="card">
    <div class="card-body text-center p-5">
      <%= image_tag "root.svg", class: "img-fluid" %>
      <h4 class="white mt-4 h4">Seja bem-vindo(a).</h4>
    </div>
  </div>
</div>
