<div id="inicio" class="container p-5">
  <div class="row px-lg-5 py-lg-3 p-md-0 align-middle">
    <div class="col-lg-6 col-xl-7 my-auto">
      <p class="h1 white">
        Seja <br>
        bem-vindo(a) <br>
        <p class="h3 purple" style="font-weight: 500">ao meu portfólio</p>
      </p>
    </div>
    <div class="col-lg-6 col-xl-5 d-flex align-items-center text-center">
      <%= image_tag "index/tree.svg", class: "img-fluid" %>
    </div>
  </div>
</div>

<div id="sobre-mim" class="container px-5">
  <div class="row px-lg-5 py-lg-4 p-md">
    <div class="col-lg-12 p-5">
      <p class="h4 white mb-3">Sobre mim</p>
      <p class="body-1 white">
        Desde pequeno sou fascinado por jogos eletrônicos, e, daí veio minha paixão por computadores.
        A capacidade de automatizar uma tarefa e deixa-la mais divertida com a computação, é algo
        que me deixa muito empolgado. Por conta disso, comecei a estudar programação e até hoje não
        parei.<br>

        <br>

        Já estudei sobre manutenção e redes de computadores durante minha formação técnica. Atualmente,
        sou graduando em engenharia da computação, pela Universidade Federal do Ceará, e estudando internet
        das coisas de forma autodidata, entre outras áreas.
      </p>
    </div>
  </div>
</div>

<div id="projetos" class="container px-5">
  <div class="row px-lg-5 py-lg-4 p-md-0 mt-lg-0 mt-5">
    <div class="col-lg-12 p-5">
      <p class="h4 white mb-3">Projetos</p>
      <p class="body-1 white pb-4">
        Enquanto estudante e desenvolvedor, participei do desenvolvimento de alguns projetos de sites
        e sistemas web. Abaixo apresento a descrição de alguns cases.
      </p>

      <div class="accordion" id="accordion-projects">
        <% @projects.each do |project| %>
          <%= render "home/project-accordion", project: project %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="formacao" class="container px-5">
  <div class="row px-lg-5 py-lg-4 p-md-0 mt-lg-0 mt-5">
    <div class="col-lg-12 p-5">
      <p class="h4 white mb-3">Formação</p>
      <p class="body-1 white mb-4">
        Aprendi durante meus vários anos como estudante, que a vida demanda aprendizado contínuo.
        Por isso, busco sempre conhecer novas áreas e tecnologias. Atualmente, estou aprofundando
        meus estudos no desenvolvimento de sistemas distribuídos, principalmente de forma autodidata.<br>

        <br>

        A seguir, apresento as minhas principais formações.
      </p>
      <ul>
        <% @courses.each do |course| %>
          <%= render "home/course", course: course %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="tecnologias" class="container px-5">
  <div class="row px-lg-5 py-lg-4 p-md-0 mt-lg-0 mt-5">
    <div class="col-lg-12 p-5">
      <p class="h4 white text-center fw-semibold mb-3">Tecnologias</p>
      <p class="body-1 white mb-4">
        Abaixo apresento as principais tecnologias com as quais eu já trabalhei, bem como algumas tecnologias que estou estudando, como JavaScript e TypeScript.
      </p>

      <%= render "home/carousel" %>
    </div>
  </div>
</div>

<div data-controller="index" id="github" class="container px-5 mb-3">
  <div class="row justify-content-center px-5 py-2">
    <div class="col-lg-6 px-0 px-sm-5">
      <div class="card">
        <div class="card-body p-3">
          <div id="spinner" class="d-flex justify-content-center p-5">
            <div class="spinner-border text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div id="conta" class="d-none">
            <div class="row px-4 px-sm-5 py-3 align-items-center">
              <div class="col-lg-4 px-1 text-center">
                <img class="picture img-fluid mb-3" src="">
                <a class="username purple fw-medium body-1"></a>
              </div>
              <div class="col-lg-8 px-4">
                <p class="body-1 white"><span class="fw-bold">Nome:</span> <span class="name"></span></p>
                <p class="body-1 white bio"></p>
                <p class="body-1 white"><span class="fw-bold">Desde:</span> <span class="date"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
