<footer class="d-flex justify-content-between px-5">
  <div class="white body-1">
    Copyright © 2022 <strong>Kode Knight</strong>. Desenvolvido por Keven da Silva.
  </div>
  <div class="white links">
    <a href="https://github.com/kevendasilva" class="body-1">GitHub</a> |
    <a href="https://www.linkedin.com/in/keven-da-silva-gonçalves" class="body-1">LinkedIn</a>
  </div>
</footer>
