<aside id="sidebar" class="sidebar drop-shadow">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="<%= projects_url %>">
        <i class="bi bi-file-post"></i>
        <span class="body-1">Projects</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= courses_url %>">
        <i class="bi bi-book"></i>
        <span class="body-1">Courses</span>
      </a>
    </li>
  </ul>
</aside>
